/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-roboto
}

.form-control input {
  @apply input input-bordered w-full;
}

.form-control label {
  @apply label;
}

.form-control label span {
  @apply label-text;
}

.services-single ol,
.services-single ul {
  list-style: circle;
  margin: 10px;
  padding-left: 30px;
}

table tr th:last-child,
table tr td:last-child {
  float: right;
}

.btn-primary {
  color: #fff;
}

.profile-dash {
  @apply grid-cols-4
}

.social-icons a {
  @apply p-2 bg-primary text-white text-xl rounded
}

.footer-links a {
  @apply btn btn-ghost btn-sm text-gray-500 font-normal;
}

.social-icons a:hover {
  @apply bg-primary-focus
}

.bg-bridge {
  background: linear-gradient(to left, rgba(31, 41, 55, .8), rgba(8, 145, 178, 1)), url('../assets/building.jpg');
  color: #fff;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 767px) {
  .profile-dash {
    @apply grid-cols-1 gap-0 gap-y-5
  }
}