/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-roboto
}

.form-control input {
  @apply input input-bordered w-full;
}

.form-control label {
  @apply label;
}

.form-control label span {
  @apply label-text;
}

.services-single ol,
.services-single ul {
  list-style: circle;
  margin: 10px;
  padding-left: 30px;
}

table tr th:last-child,
table tr td:last-child {
  float: right;
}

.btn-primary {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .profile-dash {
    @apply grid-cols-1 gap-0 gap-y-5
  }
}